<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runeai.runereader"
    android:versionCode="1"
    android:versionName="0.5.1a" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-feature android:glEsVersion="0x00010000" android:required="true" />

    <application
        android:name="com.sketchpunk.ocomicreader.App"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sketchpunk.ocomicreader.ViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="Rune Reader"
            android:theme="@style/android:Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <!--
                These have to be added because the '*' symbol is not greedy, it will only match the first dot.
				These are needed to match files with more the one 'dot' in the file name or path
                -->
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\.rar" />
                <data android:pathPattern=".*\\..*\\.cbz" />
                <data android:pathPattern=".*\\..*\\.cbr" />
                <data android:pathPattern=".*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\.rar" />
                <data android:pathPattern=".*\\..*\\..*\\.cbz" />
                <data android:pathPattern=".*\\..*\\..*\\.cbr" />
                <data android:pathPattern=".*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\.rar" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.cbz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.cbr" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.rar" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sketchpunk.ocomicreader.PrefActivity"
            android:theme="@style/AppTheme" >
        </activity>
        
        <activity
            android:name="com.sketchpunk.ocomicreader.OpenGLESTestingActivity"
            android:theme="@style/AppTheme" >
        </activity>
        
        <activity
            android:name="com.sketchpunk.ocomicreader.LibraryActivity"
            android:label="Rune Reader"
            android:theme="@style/AppTheme">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
